*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#cabeçalho{
    width: 95vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2.5px solid black;
    border-radius: 15px;
    margin-top: 10px;
}
h1{
    position: absolute;
}
#opcoes{
    display: none;
}
#opcoes.on{
    margin-left: auto;
    height: 8vh;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#config{
    height: 8vh;
    width: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo-config{
    height: 5vh;
    cursor: pointer;
}
main{
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#jogo, #configuracoes{
    height: 85vh;
    width: 500px;
    border: 2.5px solid black;
    border-radius: 15px;
}

#jogo .Game, .aparecer-config, .jogo{
    display: none;
}
#jogo .btn-reiniciar{
    display: none;
}
#info-jogo, #cabeçalho-config{
    display: flex;
    font-size: 20px;
    border: 2.5px solid black;
    border-radius: 15px;
    margin: 15px;
    height: 75px;
} 
#vidas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 200px;
    margin-left: auto;
}
.vida{
    height: 5vh;
    margin: 3px;
}
#acertos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
}
#respostas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#perguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.alternativas{
    height: 150px;
    width: 150px;
    border: 2.5px solid black;
    border-radius: 15px;
    margin: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogar, #GameOver{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-jogar, #btn-reiniciar{
    height: 100px;
    width: 250px;
    border: 2.5px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
#btn-reiniciar:hover, #btn-jogar:hover{
    scale: 1.05;
}
#btn-reiniciar:active, #btn-jogar:active{
    scale: .9;
}
#jogo .remove{
    display: none;
}
#btn-fechar-janela{
    margin-left: auto;
    cursor: pointer;
}
#opcoes-config{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
#nomeConfig{
    margin: 6px;
}
#darkmode{
    display: flex;
}
#btn-darkmode{
    margin-left: auto;
}
#fundo-darkmode{
    height: 25px;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
    background-color: #c3c3c3;
    position: relative;
}
#bolinha-darkmode{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #ff0000;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}
#fundo-darkmode.dark{
    background-color: #000;
}
#fundo-darkmode.dark #bolinha-darkmode{
    left: 25px;
    background-color: #ff0000;
    transition: .5s;
}
#cabeçalho.dark{
    border: 2.5px solid white;
}
body.dark{
    background-color: #3c3c3c;
    color: #fff;
}
#cabeçalho.dark, #cabeçalho-config.dark , #info-jogo.dark , #jogo.dark , #configuracoes.dark , .alternativas.dark{
    border: 2.5px solid white;
}